body{
    margin: 0;
    padding: 0;
}
div{
    color: red;
    text-align: center;
    align-items: center;
}
.container{
    color: black;
    text-align: center;
    align-items: center;
}